  <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "biz.ahab.camera"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.3.0" />

        <name>Camera</name>

        <description>
        A simple camera app 
        </description>
		
        <author href="http://www.kravanalys.se" email="andreas.hagglund@systemvaruhuset.se">
        Andreas
        </author>
		
		<gap:plugin name="org.apache.cordova.camera" version="0.2.4" />

    </widget>